<h1>  Log In Below:</h1>
<ul> <form action="/sessions" method="post">
        <label>Email:</label>
        <input type="text" name="email"><br><br>
        <label>Username:</label>
        <input type="text" name="name"><br><br>
        <label>Password:</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value= "Log In">
    </form>
</ul>

