<h1>Sign Up Below:</h1>
<ul> <form action="/registrations" method="post">
        <label>Email:</label>
        <input type="text" name="email"><br><br>
        <label>Username:</label>
        <input type="text" name="name"><br><br>
        <label>Password:</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value= "Sign Up">
    </form>
</ul>


